@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #ed3c6a;
}

@theme inline {
  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-dm: var(--font-dm-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dm), Arial, Helvetica, sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
}

@layer components {
  .navbar {
    box-shadow: 0px 4px 62px 0px #fac4d2a1 !important;
  }

  .hero-section {
    background-image: url(../assets//pages/Home/HeroSection/HeroSectionBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero-section-content {
    background-image: url(../assets//pages/Home/HeroSection/HeroSectionContentBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
  }

  .our-service-section-card:hover {
    box-shadow: 0px 4px 90.3px 0px #d7cdcf78;
    border-color: transparent !important;
  }
}

@layer utilities {
  .container {
    @apply mx-auto px-[18px] lg:px-[100px];
  }
}
